DATABASE =  "mongodb+srv://username:password.jfeqpvm.mongodb.net/database"
JWT_SECRET = "CHUOINGAUNHIEN"
NODE_ENV = "" # nếu '' là http, nếu 'production' là https
SUPER_ADMIN_ID = "ID"
SUPER_ADMIN_EMAIL = "EMAIL"
SUPER_ADMIN_PASSWORD = "PASSWORD"
FILE_MANAGER_SECRET = "CHUOINGAUNHIEN"
GOOGLE_CLIENT_ID = "ID"
GOOGLE_CLIENT_SECRET = "CHUOI"
GOOGLE_CALLBACK_URL = "URL"
SESSION_SECRET = "CHUOI"
FACEBOOK_APP_ID = "ID"
FACEBOOK_APP_SECRET = "CHUOI"
FACEBOOK_CALLBACK_URL = "URL"
GMAIL_USER = "EMAIL"
GMAIL_PASS = "PASSWORD"
GOSHIP_TOKEN = "CHUOI"
OPENMAP_KEY = "CHUOI"